$btn-green: #56B68B;

.btn-transparent {
  color: white;
  background-color: transparent;
  border-color: white;

  &:hover, &:focus {
    color: darken(white, 15%);
    border-color: darken(white, 15%);
  }

  &:active {
    box-shadow: none;
  }
}

.btn-color {

  &.btn-green {
    color: white;
    background-color: $btn-green;
    border-color: $btn-green;
  }

  &:hover, &:focus {
    color: darken(white, 15%);
    border-color: $btn-green;
  }

  &:active {
    box-shadow: none;
  }
}

.btn {

  i {
    font-size: 17px;
    vertical-align: middle;
    margin-left: 10px;
  }
}
