.cover-photo {
  height: 90vh;
  min-height: 90vh;
  position: relative;
  text-align: center;

  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  h1 {
    font-size: 36px;
    // padding: 365px 0 0 0;
    margin: 0;
    color: white;
    line-height: 38px;
  }
}

@media (max-width: $screen-sm-max) {

  .cover-photo {
    height: auto;
    min-height: 300px;

    h1 {
      font-size: 30px;
      padding: 100px 0 0 0;
      margin: 0 20px;
      max-width: 300px;
    }
  }
}

@media (max-width: 320px) {

  .cover-photo {

    h1 {
      padding-top: 150px;
    }
  }
}
