.navbar {
  min-height: 80px;
  font-size: 18px;
  padding: 15px 0;
}

.navbar-transparent {

  &.navbar {

    li {

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  .navbar-brand {
    color: white;
  }
}

.navbar-nav {

  &.right {
    float: right;
  }
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  color: #ddd;
}

.navbar-absolute-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

@media (max-width: $screen-sm-max) {

  .navbar {

    .container {
      position: relative;
    }

    .collapse {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border-top: 0;
      margin: 0;
      padding: 0;
    }
  }

  .navbar-nav {
    margin: 4px 0;
  }
}
