.navbar {
  min-height: 80px;
  font-size: 18px;
  padding: 15px 0;

  i.fa.fa-bars {
    font-size: 22px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;

    &:active {
      opacity: 0.5;
    }
  }
}

@media (max-width: $screen-sm-max) {

  .navbar {
    padding: 0;
  }
}

.navbar-transparent {

  &.navbar {

    li {

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  .navbar-brand {
    color: white;
  }
}

.navbar-collapse {
  border: 0;
}

@media (max-width: $screen-sm-max) {

  .navbar-brand {
    padding-left: 0;
    padding-right: 15px;
  }
}

.navbar-nav {
  float: right;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  color: #ddd;
}

.navbar-absolute-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

@media (max-width: $screen-sm-max) {

  .navbar {

    .container {
      position: relative;
    }

    .navbar-collapse {
      text-align: center;
      position: fixed;
      right: 0;
      left: 0;
      height: 100%;
      background-color: #333;
      display: none;

      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
  }

  .navbar-nav {
    margin: 0;
    float: none;

    li {

      a {
        // margin: 10px;
        // background-color: lighten(#333, 5%);


        &:hover {
          // color: white;
          // background-color: lighten(#333, 10%);
        }
      }

      &:first-child {
        margin-top: 10px;
      }
    }
  }

  .navbar {

    .not-collapse {
      display: block;
      -webkit-animation: fadeInfromNone 0.25s ease both;
      animation: fadeInfromNone 0.25s ease both;
    }
  }
}

@media (max-width: 375px) {

  .chinese-name {
    display: none;
  }
}
